<div class="main-content" role="main">
  <p>Demo Application</p>
</div>

<div class="shell-wrap" #terminal></div>
<div class="shell-wrap">
  <div class="shell-body css-typing">
      <p>$ info --app-name</p>
      <p>Demo app</p>
      <p>$ info --app-version</p>
      <p>{{appVersion}}</p>
      <p>$ info --chart-version</p>
      <p>{{chart}}</p>
      <p>$ <span class="cursor">|</span></p>
  </div>
</div>


<router-outlet></router-outlet>


