.main-content{
  margin: 5%;
  color: white;
  align-self: center;
  font-family: monospace;
  font-size: 55px;
  text-align: center;
}

/* TERMINAL */
.shell-wrap {
  width: 500px;
  margin: 100px auto 0 auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.shell-top-bar {
  text-align: center;
  color: #525252;
  padding: 5px 0;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  font-size: 0.85em;
  border: 1px solid #CCCCCC;
  border-bottom: none;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}

.shell-body {
  margin: 0;
  padding: 5px;
  list-style: none;
  background: #1c1f26;
  color: #ffffff;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;

  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.shell-body li:nth-child(1) {
  -webkit-animation: type 6s steps(40, end);
  animation: type 6s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.cursor {
  animation: blink 1s infinite;
}
@keyframes blink {
  to { opacity: 0; }
}

.css-typing p {
  border-right: .1em solid #ffffff;
  border-spacing: 0.5em;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  margin: 5px;
}
/* -------------------------------------- */
.css-typing p:nth-child(1) {
  width: 10.5em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes type {
  0% { width: 0; }
  99.9% { border-right: .1em solid  #ffffff; }
  100% { border: none; }
}
@-webkit-keyframes type {
  0% { width: 0; } 
  99.9% { border-right: .1em solid  #ffffff; } 
  100% { border: none; }
}
/* -------------------------------------- */
.css-typing p:nth-child(2) {
  width: 25em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes type2 {
  0% { opacity: 1; border: none; }
  100% { opacity: 1; border: none; }
}
@-webkit-keyframes type2 {
  0% { opacity: 1; border: none; }
  100% { opacity: 1; border: none; }
}
/* -------------------------------------- */
.css-typing p:nth-child(3) {
  opacity: 0;
  width: 12em;
  -webkit-animation: type3 2s steps(40, end);
  animation: type3 2s steps(40, end);
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes type3 {
  0% { opacity: 1; width: 0; }
  99.9% { opacity: 1; border-right: .1em solid  #ffffff; }
  100% { opacity: 1; border: none; }
}
@-webkit-keyframes type3 {
  0% { width: 0; } 
  99.9% { border-right: .1em solid  #ffffff; } 
  100% { border: none; }
}
/* -------------------------------------- */
.css-typing p:nth-child(4) {
  width: 25em;
  opacity: 0;
  -webkit-animation: type4 2s steps(40, end);
  animation: type4 4s steps(40, end);
  -webkit-animation-delay: 4.7s;
  animation-delay: 4.7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes type4 {
  0% { opacity: 1; border: none; }
  100% { opacity: 1; border: none; }
}
@-webkit-keyframes type4 {
  0% { opacity: 1; border: none; }
  100% { opacity: 1; border: none; }
}
/* -------------------------------------- */
.css-typing p:nth-child(5) {
  opacity: 0;
  width: 13.2em;
  -webkit-animation: type5 2s steps(40, end);
  animation: type5 2s steps(40, end);
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes type5 {
  0% { opacity: 1; width: 0; }
  99.9% { opacity: 1; border-right: .1em solid  #ffffff; }
  100% { opacity: 1; border: none; }
}
@-webkit-keyframes type5 {
  0% { width: 0; } 
  99.9% { border-right: .1em solid  #ffffff; } 
  100% { border: none; }
}
/* -------------------------------------- */
.css-typing p:nth-child(6) {
  width: 25em;
  opacity: 0;
  -webkit-animation: type6 2s steps(40, end);
  animation: type6 4s steps(40, end);
  -webkit-animation-delay: 7.2s;
  animation-delay: 7.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes type6 {
  0% { opacity: 1; border: none; }
  100% { opacity: 1; border: none; }
}
@-webkit-keyframes type6 {
  0% { opacity: 1; border: none; }
  100% { opacity: 1; border: none; }
}
/* -------------------------------------- */
.css-typing p:nth-child(7) {
  width: 8.5em;
  opacity: 0;
  -webkit-animation: type7 2s steps(40, end);
  animation: type7 4s steps(40, end);
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes type7 {
  0% { opacity: 1; border: none; }
  100% { opacity: 1; border: none; }
}
@-webkit-keyframes type7 {
  0% { opacity: 1; border: none; }
  100% { opacity: 1; border: none; }
}